.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.color-nav {
  background-color: #bdbdbd;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.cashcow-logo {
  margin: 10px;
  font-size: 50px;
  font-weight: 600;
}

.price-details-container {
  border: dotted #bdbdbd;
  align-content : flex-start;
  justify-content: center;
  align-items: center;
  display : flex;
  flex-direction: row;
  margin : 10px;
}

.search-container {
  margin: 10px;
}

.row2 {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  background-color:
}

.company-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 50%;
  text-align: justify;
}

.graph flex-item {
  justify-content: flex-start;
  flex-basis: 50%;
}

.symbol {
  font-size: 26px;
  font-weight: 800;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}

.app-left {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-basis: 55%;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.app-right {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  flex-basis: 45%;
  padding: 10px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}


.news flex-item {
  text-align: justify;
  margin : 10px;
}

.html {
  margin : 2px;
}

.article-title {}



.indent {
  margin-left: 5%;
}


.negative {
  color : red;
}

.positive {
  color : green;
}

.chart-container {
  background: white;
}

#chart {
  background: white;

}
