.color-nav {
  background-color: #0e3040;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.search-stock-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.cashcow-logo {
  margin: 10px;
  font-size: 50px;
  font-weight: 600;
}

.search-stock-form input {
  margin: 5px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.app-top {
  display: flex;
  flex-direction: row;
}

.finance-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding : 10px;
  flex: 0 0 20em;
  margin: 10px;
  width: 100%;
}

.company-logo {
  width: 40%;
  height: auto;
  margin: 5px;
}

.symbol {
  font-size: 72px;
  font-weight: bold;
  margin: 5px;
}
.price-item {
  margin: 15px;
}

.prediction-container {
  margin: 15px;
}

.graph-container {
  flex: 2;
  margin: 10px;
  width: 100%;
  height: auto;
}

.app-middle {
  display: flex;
  flex-direction: row;
}

.company-details-container {
  margin: 10px;
}

.company-details {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}

.company-info {
  display : flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.company-description {
  text-align: justify;
  margin: 10px;
  width: 80%;
}

.news {
  text-align: justify;
  margin : 10px;
}

.html {
  margin : 2px;
}

.article-title {}


.indent {
  margin-left: 5%;
}


.negative {
  color : red;
}

.positive {
  color : green;
}

