.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.color-nav {
  background-color: #6edb75;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  justify-content: flex-start;
}

.nav-link {
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  float: right;

}

.top-logo {
  display: flex;
  justify-content: center;
}

.cashcow-logo {
  margin: 10px;
  font-size: 50px;
  font-weight: 600;
}

.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.logo {
  border: dotted #bdbdbd;
}

.price-details-container {
  border: dotted #bdbdbd;
  /* align-content : flex-start;
  justify-content: center;
  align-items: center;
  display : flex;
  flex-direction: column;
  margin : 10px; */
  text-align: center;
}

.price-details {
  justify-content: center;
  margin-right: 0px !important;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.company-details-container {
  display: flex;
  flex-basis: 50%;
  text-align: justify;
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.news-details {
  max-height: 600px;
  overflow: hidden;
  margin-bottom: 20px;
}

.news flex-item {
  display: flex;
  flex-wrap: wrap;
  margin : 10px;
  flex-basis: 50%;
}

.graph {
  justify-content: center;
}

.html {
  margin : 2px;
}

.indent {
  margin-left: 5%;
}

.negative {
  color : red;
}

.positive {
  color : green;
}

.chart-container {
  background: white;
}

#chart {
  background: white;

}
