.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.color-nav {
  background-color: #bdbdbd;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  background-color:
}

.cashcow-logo {
  margin: 10px;
  font-size: 50px;
  font-weight: 600;
}

.search-container {
  margin: 10px;
}





.symbol {
  font-size: 26px;
  font-weight: 800;
}





.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}

.app-left {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-basis: 55%;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.app-right {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  flex-basis: 45%;
  padding: 10px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

.company-details-container {
  justify-content: center;
  text-align: justify;
}

.news flex-item {
  text-align: justify;
  margin : 10px;
}

.html {
  margin : 2px;
}

.article-title {}

.price-details-container {
  border: dotted #bdbdbd;
  align-content : flex-start;
  justify-content: center;
  align-items: center;
  display : flex;
  flex-direction: row;
  margin : 10px;
}

.indent {
  margin-left: 5%;
}

/* changes color of taxed based on positive or negative value */
.negative {
  color : red;
}

.positive {
  color : green;
}

.chart-container {
  background: white;
}

#chart {
  background: white;

}
