.color-nav {
  background-color: slategray;
}

.nav-link {
  
}

.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 10px;
}

.search-container {
  margin: 10px;
}

.cashcow-logo {
  margin: 10px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}

.app-left {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-basis: 65%;
  padding: 10px;
}

.app-right {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-basis: 35%;
  padding: 10px;
}

.company-details-container {
  margin : 10px;
}

.html {
  margin : 2px;
}

.article-title {}

.price-details-container {
  /* border: solid red; */
  align-content : flex-start;
  justify-content: space-between;
  display : flex;
  flex-direction: row;
  margin : 10px;
}

.indent {
  margin-left: 5%;
}

/* changes color of taxed based on positive or negative value */
.negative {
  color : red;
}

.positive {
  color : green;
}

.chart-container {
  background: #00151c;
}

#chart {
  background: #0e3040;
  color: #67809f;
}
