.color-nav {
  background-color: #0e3040;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.search-stock-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.symbol {
  font-size: 26px;
  font-weight: 800;
}

.search-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.cashcow-logo {
  margin: 10px;
  font-size: 50px;
  font-weight: 600;
}

.search-stock-form input {
  margin: 5px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.app-top {
  display: flex;
  flex-direction: row;
}

.finance-info {
  flex: 1;
  border: solid;
  margin: 10px;
  width: 100%;
}

.graph-container {
  flex: 2;
  margin: 10px;
  width: 100%;
  height: auto;
  border: solid;
}



.app-right {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  flex-basis: 45%;
  padding: 10px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}



.company-details-container {
  justify-content: stretch;
  text-align: center;
}

.news flex-item {
  text-align: justify;
  margin : 10px;
}

.html {
  margin : 2px;
}

.article-title {}


.indent {
  margin-left: 5%;
}


.negative {
  color : red;
}

.positive {
  color : green;
}

