#chart {
  background: #0e3040;
  color: #67809f;
  font-size: 16px;
  margin: 10px;
}

.chart-container-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #00151c;
  max-width: 100%;
  border: solid;
}
