.company-details {
  /* border : solid; */
  display : flex;
  flex-direction: column;
  flex: 0 0 50em;
  align-content: flex-start;
  padding: 20px;
}

.company-info {
  flex: 0 0 12em;
  display : flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 20px;

}

.company-header flex-item {
  display : flex;
  flex-direction: column;
}

.company-logo flex-item {
  display : flex;
  flex-direction: column;
}
