.company-header flex-item {
  display : flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.company-info {
  flex: 0 0 12em;
  display : flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;

}

.company-logo flex-item {
  display : flex;
  flex-direction: column;
}

.company-image-container {
  display : flex;
  flex-direction: row;
}

.company-text-container {
  display : flex;
  flex-direction: column;
}
