.price-container {
  /* border : solid; */
  width : 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding : 10px;
}

.price-item {
  margin : 0;
}
