.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.html {
  margin : 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.chart-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  flex: 1 0 auto;
}

.article-container{
  display : flex;
  flex-wrap: wrap;
  max-height : 400px;
  flex-direction: row;
  overflow-y: scroll;
}

.article {
  flex-basis: 200px;
  max-height: 300px;;
}

.article-image {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

.main-container {
  display : flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  overflow: hidden;
}

.price-details-container {
  margin : 3px;
  overflow : none;
  flex-shrink: 0;
}

.article-title {
  
}

.indent {
  margin-left: 5%;
}

.price-container {
  border : solid;
  width : 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-details {
  height : 500px;
  width : 800px;
}

.price-item {
  margin : 0;
}
.negative {
  color : red;
}

.positive {
  color : green;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.chart-container {
  background: #00151c;
  position : relative;
}
#chart {
  background: #0e3040;
  color: #67809f;
}
